body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    
}

.navbar{
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}


.nav-section1{
    display: flex;
    padding-left: -10px;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    
}

.menu-icon{
    height: 30px;
    width: 30px;   
    margin-left: 20px;
    padding: 5px;
    padding: 0 7px;
}

.youtube-icon{
    width: 70px;
    height: 17px;
    display: flex;
    padding: 0 7px;
}


.sect-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav-input input{
    width: 570px;
    height: 30px;
    background-color: white;
    border-top-left-radius: 3px;
    border-bottom-left-radius:3px ;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    border: 0.5px solid gray;
    padding-left: 20px;
    padding-right: 20px;
    
} 
.nav-input button{
    position: absolute;
    display: inline-block;    
    outline: none;
    height:33px;
    width: 65px;
    border: 0.5px solid gray;   
    border-top-right-radius: 3px;
    border-bottom-right-radius:3px;
    cursor: pointer;
    align-items: center;
}
.search-icon{  
    height: 100%;  
    align-items: center; 
    max-width: 50%;
    max-height: 50%;
    }

.nav-input input:hover{
    box-shadow: 1px 1px 1px 1px lightgrey;
}

.nav-input input:focus{
    border-color: green;
}
    

.section2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
}

.profile{
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right:40px;
    border-radius: 50%;
    cursor: pointer;
    background: grey;
}

.notification{
    width: 20px;
    height: 20px;
    margin-right: 25px;
}

.youtubeApps{
 width: 20px;
 height: 20px;
 margin-right: 25px;
 padding: 5px;
}


.createAcc{
    margin-right: 25px;
    width: 20px;
    height: 15px;
}
